CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r3=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BIND_ENABLE_DOH=y
CONFIG_BIND_LIBJSON=y
# CONFIG_BUSYBOX_CONFIG_ASH_RANDOM_SUPPORT is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_PS_LONG=y
# CONFIG_BUSYBOX_CONFIG_RESIZE is not set
# CONFIG_BUSYBOX_CONFIG_TASKSET is not set
CONFIG_COTURN_ENABLE_SQLITE=y
CONFIG_DBUS_VERBOSE=y
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_CHECK_CONFIG=y
CONFIG_DOCKER_NET_ENCRYPT=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_NET_TFTP=y
CONFIG_DOCKER_OPTIONAL_FEATURES=y
CONFIG_DOCKER_STO_BTRFS=y
CONFIG_DOCKER_STO_DEVMAPPER=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_FRR_INTERNAL=y
CONFIG_FRR_NO_SNMP=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_HTOP_LMSENSORS=y
CONFIG_IMAGEOPT=y
CONFIG_INITOPT=y
CONFIG_KERNEL_ARM_PMU=y
CONFIG_KERNEL_BTRFS_FS_POSIX_ACL=y
CONFIG_KERNEL_CFQ_GROUP_IOSCHED=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_HUGETLB=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_EXT4_FS_POSIX_ACL=y
CONFIG_KERNEL_EXT4_FS_SECURITY=y
CONFIG_KERNEL_FS_POSIX_ACL=y
CONFIG_KERNEL_HUGETLBFS=y
CONFIG_KERNEL_HUGETLB_PAGE=y
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE_ALWAYS=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_LIBQMI_COLLECTION_BASIC=y
CONFIG_LIBQMI_WITH_MBIM_QMUX=y
CONFIG_LIBQMI_WITH_QRTR_GLIB=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_LUCI_SRCDIET=y
CONFIG_LXC_SECCOMP=y
CONFIG_MODEMMANAGER_WITH_AT_COMMAND_VIA_DBUS=y
CONFIG_MODEMMANAGER_WITH_MBIM=y
CONFIG_MODEMMANAGER_WITH_QMI=y
CONFIG_MODEMMANAGER_WITH_QRTR=y
CONFIG_NGINX_HTTP_ACCESS=y
CONFIG_NGINX_HTTP_AUTH_BASIC=y
CONFIG_NGINX_HTTP_AUTOINDEX=y
CONFIG_NGINX_HTTP_BROWSER=y
CONFIG_NGINX_HTTP_CACHE=y
CONFIG_NGINX_HTTP_CHARSET=y
CONFIG_NGINX_HTTP_EMPTY_GIF=y
CONFIG_NGINX_HTTP_FASTCGI=y
CONFIG_NGINX_HTTP_GEO=y
CONFIG_NGINX_HTTP_GZIP=y
CONFIG_NGINX_HTTP_GZIP_STATIC=y
CONFIG_NGINX_HTTP_LIMIT_CONN=y
CONFIG_NGINX_HTTP_LIMIT_REQ=y
CONFIG_NGINX_HTTP_MAP=y
CONFIG_NGINX_HTTP_MEMCACHED=y
CONFIG_NGINX_HTTP_PROXY=y
CONFIG_NGINX_HTTP_REFERER=y
CONFIG_NGINX_HTTP_REWRITE=y
CONFIG_NGINX_HTTP_SCGI=y
CONFIG_NGINX_HTTP_SPLIT_CLIENTS=y
CONFIG_NGINX_HTTP_SSI=y
CONFIG_NGINX_HTTP_UPSTREAM_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_IP_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_KEEPALIVE=y
CONFIG_NGINX_HTTP_UPSTREAM_LEAST_CONN=y
CONFIG_NGINX_HTTP_USERID=y
CONFIG_NGINX_HTTP_UWSGI=y
CONFIG_NGINX_HTTP_V2=y
CONFIG_NGINX_PCRE=y
CONFIG_NODEJS_ICU_SMALL=y
CONFIG_OPENSSH_LIBFIDO2=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
CONFIG_PACKAGE_acme=y
CONFIG_PACKAGE_acme-acmesh=y
CONFIG_PACKAGE_acme-common=y
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_alsa-lib=y
CONFIG_PACKAGE_asterisk=y
CONFIG_PACKAGE_asterisk-app-attended-transfer=y
CONFIG_PACKAGE_asterisk-app-audiosocket=y
CONFIG_PACKAGE_asterisk-app-authenticate=y
CONFIG_PACKAGE_asterisk-app-blind-transfer=y
CONFIG_PACKAGE_asterisk-app-bridgeaddchan=y
CONFIG_PACKAGE_asterisk-app-bridgewait=y
CONFIG_PACKAGE_asterisk-app-broadcast=y
CONFIG_PACKAGE_asterisk-app-celgenuserevent=y
CONFIG_PACKAGE_asterisk-app-chanisavail=y
CONFIG_PACKAGE_asterisk-app-channelredirect=y
CONFIG_PACKAGE_asterisk-app-chanspy=y
CONFIG_PACKAGE_asterisk-app-confbridge=y
CONFIG_PACKAGE_asterisk-app-controlplayback=y
CONFIG_PACKAGE_asterisk-app-dictate=y
CONFIG_PACKAGE_asterisk-app-directed-pickup=y
CONFIG_PACKAGE_asterisk-app-directory=y
CONFIG_PACKAGE_asterisk-app-disa=y
CONFIG_PACKAGE_asterisk-app-dtmfstore=y
CONFIG_PACKAGE_asterisk-app-dumpchan=y
CONFIG_PACKAGE_asterisk-app-exec=y
CONFIG_PACKAGE_asterisk-app-externalivr=y
CONFIG_PACKAGE_asterisk-app-festival=y
CONFIG_PACKAGE_asterisk-app-followme=y
CONFIG_PACKAGE_asterisk-app-getcpeid=y
CONFIG_PACKAGE_asterisk-app-if=y
CONFIG_PACKAGE_asterisk-app-ivrdemo=y
CONFIG_PACKAGE_asterisk-app-mf=y
CONFIG_PACKAGE_asterisk-app-milliwatt=y
CONFIG_PACKAGE_asterisk-app-minivm=y
CONFIG_PACKAGE_asterisk-app-mixmonitor=y
CONFIG_PACKAGE_asterisk-app-morsecode=y
CONFIG_PACKAGE_asterisk-app-mp3=y
CONFIG_PACKAGE_asterisk-app-originate=y
CONFIG_PACKAGE_asterisk-app-page=y
CONFIG_PACKAGE_asterisk-app-playtones=y
CONFIG_PACKAGE_asterisk-app-privacy=y
CONFIG_PACKAGE_asterisk-app-queue=y
CONFIG_PACKAGE_asterisk-app-read=y
CONFIG_PACKAGE_asterisk-app-readexten=y
CONFIG_PACKAGE_asterisk-app-record=y
CONFIG_PACKAGE_asterisk-app-reload=y
CONFIG_PACKAGE_asterisk-app-saycounted=y
CONFIG_PACKAGE_asterisk-app-sayunixtime=y
CONFIG_PACKAGE_asterisk-app-senddtmf=y
CONFIG_PACKAGE_asterisk-app-sendtext=y
CONFIG_PACKAGE_asterisk-app-sf=y
CONFIG_PACKAGE_asterisk-app-signal=y
CONFIG_PACKAGE_asterisk-app-skel=y
CONFIG_PACKAGE_asterisk-app-sms=y
CONFIG_PACKAGE_asterisk-app-softhangup=y
CONFIG_PACKAGE_asterisk-app-speech=y
CONFIG_PACKAGE_asterisk-app-stack=y
CONFIG_PACKAGE_asterisk-app-stasis=y
CONFIG_PACKAGE_asterisk-app-transfer=y
CONFIG_PACKAGE_asterisk-app-verbose=y
CONFIG_PACKAGE_asterisk-app-waitforsilence=y
CONFIG_PACKAGE_asterisk-bridge-builtin-features=y
CONFIG_PACKAGE_asterisk-bridge-holding=y
CONFIG_PACKAGE_asterisk-bridge-native-rtp=y
CONFIG_PACKAGE_asterisk-bridge-simple=y
CONFIG_PACKAGE_asterisk-bridge-softmix=y
CONFIG_PACKAGE_asterisk-cdr=y
CONFIG_PACKAGE_asterisk-cdr-csv=y
CONFIG_PACKAGE_asterisk-cdr-sqlite3=y
CONFIG_PACKAGE_asterisk-cel-custom=y
CONFIG_PACKAGE_asterisk-cel-manager=y
CONFIG_PACKAGE_asterisk-cel-sqlite3-custom=y
CONFIG_PACKAGE_asterisk-chan-quectel=y
CONFIG_PACKAGE_asterisk-chan-rtp=y
CONFIG_PACKAGE_asterisk-codec-a-mu=y
CONFIG_PACKAGE_asterisk-codec-adpcm=y
CONFIG_PACKAGE_asterisk-codec-alaw=y
CONFIG_PACKAGE_asterisk-codec-g722=y
CONFIG_PACKAGE_asterisk-codec-g726=y
CONFIG_PACKAGE_asterisk-codec-g729=y
CONFIG_PACKAGE_asterisk-codec-gsm=y
CONFIG_PACKAGE_asterisk-codec-ilbc=y
CONFIG_PACKAGE_asterisk-codec-lpc10=y
CONFIG_PACKAGE_asterisk-codec-opus=y
CONFIG_PACKAGE_asterisk-codec-resample=y
CONFIG_PACKAGE_asterisk-codec-speex=y
CONFIG_PACKAGE_asterisk-codec-ulaw=y
CONFIG_PACKAGE_asterisk-curl=y
CONFIG_PACKAGE_asterisk-format-g719=y
CONFIG_PACKAGE_asterisk-format-g723=y
CONFIG_PACKAGE_asterisk-format-g726=y
CONFIG_PACKAGE_asterisk-format-g729=y
CONFIG_PACKAGE_asterisk-format-gsm=y
CONFIG_PACKAGE_asterisk-format-h263=y
CONFIG_PACKAGE_asterisk-format-h264=y
CONFIG_PACKAGE_asterisk-format-ilbc=y
CONFIG_PACKAGE_asterisk-format-ogg-opus=y
CONFIG_PACKAGE_asterisk-format-ogg-speex=y
CONFIG_PACKAGE_asterisk-format-ogg-vorbis=y
CONFIG_PACKAGE_asterisk-format-pcm=y
CONFIG_PACKAGE_asterisk-format-siren14=y
CONFIG_PACKAGE_asterisk-format-siren7=y
CONFIG_PACKAGE_asterisk-format-sln=y
CONFIG_PACKAGE_asterisk-format-vox=y
CONFIG_PACKAGE_asterisk-format-wav=y
CONFIG_PACKAGE_asterisk-format-wav-gsm=y
CONFIG_PACKAGE_asterisk-func-dialplan=y
CONFIG_PACKAGE_asterisk-func-hangupcause=y
CONFIG_PACKAGE_asterisk-odbc=y
CONFIG_PACKAGE_asterisk-pjsip=y
CONFIG_PACKAGE_asterisk-res-adsi=y
CONFIG_PACKAGE_asterisk-res-agi=y
CONFIG_PACKAGE_asterisk-res-ari=y
CONFIG_PACKAGE_asterisk-res-ari-applications=y
CONFIG_PACKAGE_asterisk-res-ari-asterisk=y
CONFIG_PACKAGE_asterisk-res-ari-bridges=y
CONFIG_PACKAGE_asterisk-res-ari-channels=y
CONFIG_PACKAGE_asterisk-res-ari-device-states=y
CONFIG_PACKAGE_asterisk-res-ari-endpoints=y
CONFIG_PACKAGE_asterisk-res-ari-events=y
CONFIG_PACKAGE_asterisk-res-ari-model=y
CONFIG_PACKAGE_asterisk-res-ari-playbacks=y
CONFIG_PACKAGE_asterisk-res-ari-recordings=y
CONFIG_PACKAGE_asterisk-res-ari-sounds=y
CONFIG_PACKAGE_asterisk-res-audiosocket=y
CONFIG_PACKAGE_asterisk-res-chan-stats=y
CONFIG_PACKAGE_asterisk-res-format-attr-celt=y
CONFIG_PACKAGE_asterisk-res-format-attr-g729=y
CONFIG_PACKAGE_asterisk-res-format-attr-h263=y
CONFIG_PACKAGE_asterisk-res-format-attr-h264=y
CONFIG_PACKAGE_asterisk-res-format-attr-ilbc=y
CONFIG_PACKAGE_asterisk-res-format-attr-opus=y
CONFIG_PACKAGE_asterisk-res-format-attr-silk=y
CONFIG_PACKAGE_asterisk-res-format-attr-siren14=y
CONFIG_PACKAGE_asterisk-res-format-attr-siren7=y
CONFIG_PACKAGE_asterisk-res-format-attr-vp8=y
CONFIG_PACKAGE_asterisk-res-hep=y
CONFIG_PACKAGE_asterisk-res-hep-pjsip=y
CONFIG_PACKAGE_asterisk-res-http-media-cache=y
CONFIG_PACKAGE_asterisk-res-http-websocket=y
CONFIG_PACKAGE_asterisk-res-limit=y
CONFIG_PACKAGE_asterisk-res-monitor=y
CONFIG_PACKAGE_asterisk-res-musiconhold=y
CONFIG_PACKAGE_asterisk-res-parking=y
CONFIG_PACKAGE_asterisk-res-phoneprov=y
CONFIG_PACKAGE_asterisk-res-pjproject=y
CONFIG_PACKAGE_asterisk-res-rtp-asterisk=y
CONFIG_PACKAGE_asterisk-res-rtp-multicast=y
CONFIG_PACKAGE_asterisk-res-sorcery=y
CONFIG_PACKAGE_asterisk-res-speech=y
CONFIG_PACKAGE_asterisk-res-srtp=y
CONFIG_PACKAGE_asterisk-res-stasis=y
CONFIG_PACKAGE_asterisk-res-stasis-answer=y
CONFIG_PACKAGE_asterisk-res-stasis-device-state=y
CONFIG_PACKAGE_asterisk-res-stasis-playback=y
CONFIG_PACKAGE_asterisk-res-stasis-recording=y
CONFIG_PACKAGE_asterisk-res-stasis-snoop=y
CONFIG_PACKAGE_asterisk-res-statsd=y
CONFIG_PACKAGE_asterisk-res-stir-shaken=y
CONFIG_PACKAGE_asterisk-res-stun-monitor=y
CONFIG_PACKAGE_asterisk-res-timing-pthread=y
CONFIG_PACKAGE_asterisk-res-tonedetect=y
CONFIG_PACKAGE_asterisk-res-xmpp=y
CONFIG_PACKAGE_asterisk-sounds=y
CONFIG_PACKAGE_asterisk-util-astdb2sqlite3=y
CONFIG_PACKAGE_attr=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_babeld=m
CONFIG_PACKAGE_bash=m
CONFIG_PACKAGE_batmand=m
CONFIG_PACKAGE_bcg729=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_bind-libs=y
CONFIG_PACKAGE_bind-rndc=y
CONFIG_PACKAGE_bind-server=y
CONFIG_PACKAGE_bind-server-filter-aaaa=y
CONFIG_PACKAGE_bird2=m
CONFIG_PACKAGE_bird2c=m
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_bzip2=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_cgroupfs-mount=m
CONFIG_PACKAGE_containerd=m
CONFIG_PACKAGE_coturn=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_ddns-scripts-cnkuai=y
CONFIG_PACKAGE_ddns-scripts-digitalocean=y
CONFIG_PACKAGE_ddns-scripts-dnspod=y
CONFIG_PACKAGE_ddns-scripts-freedns=y
CONFIG_PACKAGE_ddns-scripts-gandi=y
CONFIG_PACKAGE_ddns-scripts-gcp=y
CONFIG_PACKAGE_ddns-scripts-godaddy=y
CONFIG_PACKAGE_ddns-scripts-luadns=y
CONFIG_PACKAGE_ddns-scripts-noip=y
CONFIG_PACKAGE_ddns-scripts-ns1=y
CONFIG_PACKAGE_ddns-scripts-one=y
CONFIG_PACKAGE_ddns-scripts-pdns=y
CONFIG_PACKAGE_ddns-scripts-route53=y
CONFIG_PACKAGE_ddns-scripts-services=y
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_broken_rtc=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_docker=m
CONFIG_PACKAGE_docker-compose=m
CONFIG_PACKAGE_dockerd=m
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_flock=m
CONFIG_PACKAGE_frr=m
CONFIG_PACKAGE_frr-babeld=m
CONFIG_PACKAGE_frr-bfdd=m
CONFIG_PACKAGE_frr-bgpd=m
CONFIG_PACKAGE_frr-eigrpd=m
CONFIG_PACKAGE_frr-fabricd=m
CONFIG_PACKAGE_frr-isisd=m
CONFIG_PACKAGE_frr-ldpd=m
CONFIG_PACKAGE_frr-libfrr=m
CONFIG_PACKAGE_frr-nhrpd=m
CONFIG_PACKAGE_frr-ospf6d=m
CONFIG_PACKAGE_frr-ospfd=m
CONFIG_PACKAGE_frr-pathd=m
CONFIG_PACKAGE_frr-pbrd=m
CONFIG_PACKAGE_frr-pimd=m
CONFIG_PACKAGE_frr-pythontools=m
CONFIG_PACKAGE_frr-ripd=m
CONFIG_PACKAGE_frr-ripngd=m
CONFIG_PACKAGE_frr-staticd=m
CONFIG_PACKAGE_frr-vrrpd=m
CONFIG_PACKAGE_frr-vtysh=m
CONFIG_PACKAGE_frr-watchfrr=m
CONFIG_PACKAGE_frr-zebra=m
CONFIG_PACKAGE_getopt=m
CONFIG_PACKAGE_giflib-utils=y
CONFIG_PACKAGE_git=y
CONFIG_PACKAGE_git-http=y
CONFIG_PACKAGE_glib2=m
CONFIG_PACKAGE_golang=m
CONFIG_PACKAGE_golang-src=m
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_htop=m
CONFIG_PACKAGE_iftop=m
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-ipsec=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_iw-full=m
CONFIG_PACKAGE_kmod-asn1-decoder=y
CONFIG_PACKAGE_kmod-asn1-encoder=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-button-hotplug=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-deflate=y
CONFIG_PACKAGE_kmod-crypto-echainiv=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
CONFIG_PACKAGE_kmod-crypto-user=y
CONFIG_PACKAGE_kmod-dax=m
CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-dummy=m
CONFIG_PACKAGE_kmod-fs-btrfs=m
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-gpio-beeper=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-ikconfig=m
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-ip-vti=y
CONFIG_PACKAGE_kmod-ip6-tunnel=y
CONFIG_PACKAGE_kmod-ip6-vti=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=y
CONFIG_PACKAGE_kmod-ipsec6=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-ipsec=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-nat=m
CONFIG_PACKAGE_kmod-ipt-nat6=m
CONFIG_PACKAGE_kmod-ipt-physdev=m
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-keys-encrypted=m
CONFIG_PACKAGE_kmod-keys-trusted=m
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-lib-raid6=m
CONFIG_PACKAGE_kmod-lib-textsearch=y
CONFIG_PACKAGE_kmod-lib-xor=m
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=m
CONFIG_PACKAGE_kmod-macvlan=m
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-nf-conncount=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-nvme=y
CONFIG_PACKAGE_kmod-oid-registry=m
CONFIG_PACKAGE_kmod-random-core=m
CONFIG_PACKAGE_kmod-sched-cake=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-tpm=m
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-vxlan=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_kmod-wwan=y
CONFIG_PACKAGE_kmod-xfrm-interface=y
CONFIG_PACKAGE_lame=y
CONFIG_PACKAGE_lame-lib=y
CONFIG_PACKAGE_less=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libavahi-client=y
CONFIG_PACKAGE_libavahi-dbus-support=y
CONFIG_PACKAGE_libbpf=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-ng=y
CONFIG_PACKAGE_libcares=y
CONFIG_PACKAGE_libcbor=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libdaemon=y
CONFIG_PACKAGE_libdaq3=m
CONFIG_PACKAGE_libdbus=y
CONFIG_PACKAGE_libdeflate=m
CONFIG_PACKAGE_libdevmapper=m
CONFIG_PACKAGE_libdht=m
CONFIG_PACKAGE_libdnet=m
CONFIG_PACKAGE_libedit=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libevdev=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libevent2-core=y
CONFIG_PACKAGE_libevent2-extra=y
CONFIG_PACKAGE_libevent2-openssl=y
CONFIG_PACKAGE_libevent2-pthreads=y
CONFIG_PACKAGE_libexpat=y
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libfido2=y
CONFIG_PACKAGE_libflac=y
CONFIG_PACKAGE_libgcrypt=y
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libgnutls=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libhwloc=m
CONFIG_PACKAGE_libid3tag=y
CONFIG_PACKAGE_libidn2=m
CONFIG_PACKAGE_libiksemel=y
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libiperf3=m
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_libiptext=y
CONFIG_PACKAGE_libiptext-nft=y
CONFIG_PACKAGE_libiptext6=y
CONFIG_PACKAGE_libldns=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_liblxc=m
CONFIG_PACKAGE_liblz4=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libmad=y
CONFIG_PACKAGE_libmagic=y
CONFIG_PACKAGE_libmariadb=y
CONFIG_PACKAGE_libmbim=m
CONFIG_PACKAGE_libmicrohttpd-no-ssl=m
CONFIG_PACKAGE_libminiupnpc=m
CONFIG_PACKAGE_libmount=m
CONFIG_PACKAGE_libmpg123=y
CONFIG_PACKAGE_libnatpmp=m
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnetfilter-queue=m
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libnss=y
CONFIG_PACKAGE_libogg=y
CONFIG_PACKAGE_libopenldap=y
CONFIG_PACKAGE_libopenssl=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libopenssl-legacy=y
CONFIG_PACKAGE_libopus=y
CONFIG_PACKAGE_libopusenc=y
CONFIG_PACKAGE_libopusfile=y
CONFIG_PACKAGE_libout123=y
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpciaccess=m
CONFIG_PACKAGE_libpcre=y
CONFIG_PACKAGE_libpcre2=y
CONFIG_PACKAGE_libpj=y
CONFIG_PACKAGE_libpjlib-util=y
CONFIG_PACKAGE_libpjmedia=y
CONFIG_PACKAGE_libpjnath=y
CONFIG_PACKAGE_libpjsip=y
CONFIG_PACKAGE_libpjsip-simple=y
CONFIG_PACKAGE_libpjsip-ua=y
CONFIG_PACKAGE_libpjsua=y
CONFIG_PACKAGE_libpjsua2=y
CONFIG_PACKAGE_libpopt=y
CONFIG_PACKAGE_libprotobuf-c=m
CONFIG_PACKAGE_libpsl=m
CONFIG_PACKAGE_libpython3=m
CONFIG_PACKAGE_libqmi=m
CONFIG_PACKAGE_libqrtr-glib=m
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libsasl2=y
CONFIG_PACKAGE_libseccomp=m
CONFIG_PACKAGE_libsmartcols=m
CONFIG_PACKAGE_libsodium=y
CONFIG_PACKAGE_libspeedtestcpp=y
CONFIG_PACKAGE_libspeex=y
CONFIG_PACKAGE_libspeexdsp=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libsrtp2=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libsyn123=y
CONFIG_PACKAGE_libtasn1=y
CONFIG_PACKAGE_libtirpc=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libudev-zero=y
CONFIG_PACKAGE_libunbound=y
CONFIG_PACKAGE_libunbound_ipset=y
CONFIG_PACKAGE_libunbound_libevent=y
CONFIG_PACKAGE_libunbound_libpthread=y
CONFIG_PACKAGE_libunistring=m
CONFIG_PACKAGE_liburing=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_libutp=m
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libvorbis=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libwolfssl=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_libxtables=y
CONFIG_PACKAGE_libyang=m
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luajit=m
CONFIG_PACKAGE_luci-app-babeld=m
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-lxc=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-pbr=m
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-docker=m
CONFIG_PACKAGE_luci-lib-httpprotoutils=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-rpc=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-hnet=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-openfortivpn=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_luci-proto-vti=y
CONFIG_PACKAGE_luci-proto-vxlan=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-xfrm=y
CONFIG_PACKAGE_luci-ssl-nginx=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_lxc=m
CONFIG_PACKAGE_lxc-attach=m
CONFIG_PACKAGE_lxc-common=m
CONFIG_PACKAGE_lxc-configs=m
CONFIG_PACKAGE_lxc-console=m
CONFIG_PACKAGE_lxc-create=m
CONFIG_PACKAGE_lxc-hooks=m
CONFIG_PACKAGE_lxc-templates=m
CONFIG_PACKAGE_minicom=m
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_modemmanager=m
CONFIG_PACKAGE_more=m
CONFIG_PACKAGE_mount-utils=m
CONFIG_PACKAGE_mpg123=y
CONFIG_PACKAGE_mwan3=m
CONFIG_PACKAGE_nano-plus=y
CONFIG_PACKAGE_netcat=m
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_netperf=m
CONFIG_PACKAGE_nginx=y
CONFIG_PACKAGE_nginx-mod-luci=y
CONFIG_PACKAGE_nginx-mod-luci-ssl=y
CONFIG_PACKAGE_nginx-mod-ubus=y
CONFIG_PACKAGE_nginx-ssl=y
CONFIG_PACKAGE_nginx-ssl-util=y
CONFIG_PACKAGE_nginx-util=y
CONFIG_PACKAGE_nload=m
CONFIG_PACKAGE_node=m
CONFIG_PACKAGE_node-npm=m
CONFIG_PACKAGE_nspr=y
CONFIG_PACKAGE_nss-utils=y
CONFIG_PACKAGE_openfortivpn=y
CONFIG_PACKAGE_opennds=m
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-server=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_pbr=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_python3-light=m
CONFIG_PACKAGE_python3-logging=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-lxc=m
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_runc=m
CONFIG_PACKAGE_samba4-libs=y
CONFIG_PACKAGE_samba4-server=y
CONFIG_PACKAGE_sipgrep=m
CONFIG_PACKAGE_sngrep=m
CONFIG_PACKAGE_snort3=m
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_sox=y
CONFIG_PACKAGE_speedtest-netperf=m
CONFIG_PACKAGE_speedtestcpp=y
CONFIG_PACKAGE_sqm-scripts=y
CONFIG_PACKAGE_sqm-scripts-extra=y
CONFIG_PACKAGE_strongswan=y
CONFIG_PACKAGE_strongswan-charon=y
CONFIG_PACKAGE_strongswan-charon-cmd=y
CONFIG_PACKAGE_strongswan-ipsec=y
CONFIG_PACKAGE_strongswan-isakmp=y
CONFIG_PACKAGE_strongswan-libnttfft=y
CONFIG_PACKAGE_strongswan-libtls=y
CONFIG_PACKAGE_strongswan-minimal=y
CONFIG_PACKAGE_strongswan-mod-addrblock=y
CONFIG_PACKAGE_strongswan-mod-aes=y
CONFIG_PACKAGE_strongswan-mod-af-alg=y
CONFIG_PACKAGE_strongswan-mod-agent=y
CONFIG_PACKAGE_strongswan-mod-attr=y
CONFIG_PACKAGE_strongswan-mod-attr-sql=y
CONFIG_PACKAGE_strongswan-mod-bliss=y
CONFIG_PACKAGE_strongswan-mod-blowfish=y
CONFIG_PACKAGE_strongswan-mod-ccm=y
CONFIG_PACKAGE_strongswan-mod-chapoly=y
CONFIG_PACKAGE_strongswan-mod-cmac=y
CONFIG_PACKAGE_strongswan-mod-connmark=y
CONFIG_PACKAGE_strongswan-mod-constraints=y
CONFIG_PACKAGE_strongswan-mod-coupling=y
CONFIG_PACKAGE_strongswan-mod-ctr=y
CONFIG_PACKAGE_strongswan-mod-curl=y
CONFIG_PACKAGE_strongswan-mod-curve25519=y
CONFIG_PACKAGE_strongswan-mod-des=y
CONFIG_PACKAGE_strongswan-mod-dhcp=y
CONFIG_PACKAGE_strongswan-mod-dnskey=y
CONFIG_PACKAGE_strongswan-mod-drbg=y
CONFIG_PACKAGE_strongswan-mod-duplicheck=y
CONFIG_PACKAGE_strongswan-mod-eap-identity=y
CONFIG_PACKAGE_strongswan-mod-eap-md5=y
CONFIG_PACKAGE_strongswan-mod-eap-mschapv2=y
CONFIG_PACKAGE_strongswan-mod-eap-radius=y
CONFIG_PACKAGE_strongswan-mod-eap-tls=y
CONFIG_PACKAGE_strongswan-mod-farp=y
CONFIG_PACKAGE_strongswan-mod-fips-prf=y
CONFIG_PACKAGE_strongswan-mod-forecast=y
CONFIG_PACKAGE_strongswan-mod-gcm=y
CONFIG_PACKAGE_strongswan-mod-gcrypt=y
CONFIG_PACKAGE_strongswan-mod-gmp=y
CONFIG_PACKAGE_strongswan-mod-gmpdh=y
CONFIG_PACKAGE_strongswan-mod-ha=y
CONFIG_PACKAGE_strongswan-mod-hmac=y
CONFIG_PACKAGE_strongswan-mod-kdf=y
CONFIG_PACKAGE_strongswan-mod-kernel-netlink=y
CONFIG_PACKAGE_strongswan-mod-ldap=y
CONFIG_PACKAGE_strongswan-mod-md4=y
CONFIG_PACKAGE_strongswan-mod-md5=y
CONFIG_PACKAGE_strongswan-mod-mgf1=y
CONFIG_PACKAGE_strongswan-mod-newhope=y
CONFIG_PACKAGE_strongswan-mod-ntru=y
CONFIG_PACKAGE_strongswan-mod-openssl=y
CONFIG_PACKAGE_strongswan-mod-pem=y
CONFIG_PACKAGE_strongswan-mod-pgp=y
CONFIG_PACKAGE_strongswan-mod-pkcs1=y
CONFIG_PACKAGE_strongswan-mod-pkcs11=y
CONFIG_PACKAGE_strongswan-mod-pkcs12=y
CONFIG_PACKAGE_strongswan-mod-pkcs7=y
CONFIG_PACKAGE_strongswan-mod-pkcs8=y
CONFIG_PACKAGE_strongswan-mod-pubkey=y
CONFIG_PACKAGE_strongswan-mod-random=y
CONFIG_PACKAGE_strongswan-mod-rc2=y
CONFIG_PACKAGE_strongswan-mod-resolve=y
CONFIG_PACKAGE_strongswan-mod-revocation=y
CONFIG_PACKAGE_strongswan-mod-sha1=y
CONFIG_PACKAGE_strongswan-mod-sha2=y
CONFIG_PACKAGE_strongswan-mod-sha3=y
CONFIG_PACKAGE_strongswan-mod-smp=y
CONFIG_PACKAGE_strongswan-mod-socket-default=y
CONFIG_PACKAGE_strongswan-mod-socket-dynamic=y
CONFIG_PACKAGE_strongswan-mod-sshkey=y
CONFIG_PACKAGE_strongswan-mod-stroke=y
CONFIG_PACKAGE_strongswan-mod-uci=y
CONFIG_PACKAGE_strongswan-mod-unity=y
CONFIG_PACKAGE_strongswan-mod-updown=y
CONFIG_PACKAGE_strongswan-mod-whitelist=y
CONFIG_PACKAGE_strongswan-mod-x509=y
CONFIG_PACKAGE_strongswan-mod-xauth-eap=y
CONFIG_PACKAGE_strongswan-mod-xauth-generic=y
CONFIG_PACKAGE_strongswan-mod-xcbc=y
CONFIG_PACKAGE_strongswan-pki=y
CONFIG_PACKAGE_tailscale=y
CONFIG_PACKAGE_tailscaled=y
CONFIG_PACKAGE_tar=m
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_tini=m
CONFIG_PACKAGE_tmux=m
CONFIG_PACKAGE_tor=y
CONFIG_PACKAGE_tor-fw-helper=y
CONFIG_PACKAGE_tor-gencert=y
CONFIG_PACKAGE_tor-geoip=y
CONFIG_PACKAGE_tor-resolve=y
CONFIG_PACKAGE_transmission-daemon=m
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-lua=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_unixodbc=y
CONFIG_PACKAGE_uqmi=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_uwsgi=y
CONFIG_PACKAGE_uwsgi-cgi-plugin=y
CONFIG_PACKAGE_uwsgi-luci-support=y
CONFIG_PACKAGE_uwsgi-syslog-plugin=y
CONFIG_PACKAGE_vti=y
CONFIG_PACKAGE_vxlan=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_wireguard-tools=y
# CONFIG_PACKAGE_wpad-basic-mbedtls is not set
CONFIG_PACKAGE_wpad-mesh-openssl=y
CONFIG_PACKAGE_wpad-openssl=m
CONFIG_PACKAGE_wsdd2=y
CONFIG_PACKAGE_wwan=y
CONFIG_PACKAGE_xfrm=y
CONFIG_PACKAGE_xtables-nft=y
CONFIG_PACKAGE_xz=m
CONFIG_PACKAGE_xz-utils=m
CONFIG_PACKAGE_zlib=y
CONFIG_PACKAGE_zoneinfo-africa=y
CONFIG_PACKAGE_zoneinfo-all=y
CONFIG_PACKAGE_zoneinfo-america=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-atlantic=y
CONFIG_PACKAGE_zoneinfo-australia-nz=y
CONFIG_PACKAGE_zoneinfo-core=y
CONFIG_PACKAGE_zoneinfo-europe=y
CONFIG_PACKAGE_zoneinfo-indian=y
CONFIG_PACKAGE_zoneinfo-pacific=y
CONFIG_PACKAGE_zoneinfo-poles=y
CONFIG_PREINITOPT=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_SAMBA4_SERVER_WSDD2=y
CONFIG_SNGREP_ENABLE_EEP=y
CONFIG_SNGREP_WITH_PCRE=y
CONFIG_SNGREP_WITH_ZLIB=y
CONFIG_SQLITE3_COLUMN_METADATA=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_RTREE=y
CONFIG_STRONGSWAN_ROUTING_TABLE="220"
CONFIG_STRONGSWAN_ROUTING_TABLE_PRIO="220"
CONFIG_TARGET_EXT4_BLOCKSIZE=4096
CONFIG_TARGET_EXT4_BLOCKSIZE_4K=y
CONFIG_TARGET_EXT4_RESERVED_PCT=0
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_CPIOGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set
CONFIG_TARGET_ROOTFS_PARTSIZE=7169
CONFIG_TARGET_ROOTFS_PERSIST_VAR=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL="https://difuse.io"
CONFIG_VERSION_CODE=""
CONFIG_VERSION_CODE_FILENAMES=y
CONFIG_VERSION_DIST="difos"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HOME_URL="https://difuse.io"
CONFIG_VERSION_HWREV="v1"
CONFIG_VERSION_MANUFACTURER="Difuse"
CONFIG_VERSION_MANUFACTURER_URL="https://difuse.io"
CONFIG_VERSION_NUMBER="2.2.2"
CONFIG_VERSION_PRODUCT="DMSBG-100"
CONFIG_VERSION_REPO="https://difuse.io/releases"
CONFIG_VERSION_SUPPORT_URL="https://docs.difuse.io"
CONFIG_WOLFSSL_HAS_NO_HW=y
# CONFIG_WOLFSSL_HAS_OPENVPN is not set
CONFIG_ZSTD_OPTIMIZE_O3=y
# CONFIG_OPENSSL_WITH_IDEA is not set
# CONFIG_OPENSSL_WITH_MDC2 is not set
# CONFIG_OPENSSL_WITH_SEED is not set
# CONFIG_OPENSSL_WITH_WHIRLPOOL is not set
